 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Jacob Armer,I am a Computer Science for Games Development Graduate. I have always loved computers and video games for as long as I can remember. A link to my CV can be found below! And if you are interested in seeing my work a link to my Github can be found <a href="https://github.com/ArmerJacob"  target="_blank" style="color:white" > Here!</a>  And if you wish to contact me, please use the contact section below!</p>
                </div>
                <div class="col-lg-4">
                    <p>The earliest memory I have is playing Sonic the Hedgehog 2 on the SEGA Megadrive with my mum, I must have been about 2 or 3. And because of that as long I as I can remember video games have been a massive passion of mine, I strive to one day make games that will inspire other children to do well in life, just like how the video games I played inspired me. I genuinely believe that video games are a form of art that can inspire greatness in the people that play them! And I hope to cultivate that the best I can in my lifetime.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="JacobJamesArmer.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> CV
                    </a>
                </div>
            </div>
        </div>
    </section>
