 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I have always loved computers and video games for as long as I can remember. One of my core memories is playing Sonic the Hedgehog 2 on the SEGA Megadrive with my Mum; I must have only been about two or three years old. That early exposure to video games has resonated throughout my life, prominent in both my education and my free time. Video games are for all to enjoy, not just children, as they can be inspiring and influential, just as they were for me. I believe that video games are a form of art that are created to be used and immersed in.</p>
                </div>
                <div class="col-lg-4">
                    <p>As an adult, I take great pleasure in not just video games, but traditional games as well, such as Dungeons & Dragons, Warhammer 40K, Magic: The Gathering, and other tabletop games. My experience with the sometimes complex nature of these games has led to a deep understanding of game design, story writing, and what it really means to have fun. <br><br>A link to my CV, which contains my contact information, can be found below. If you are interested in seeing my work, my Github can be found <a href="https://github.com/ArmerJacob"  target="_blank" style="color:white" > Here!</a></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="JacobJamesArmer.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> CV
                    </a>
                </div>
            </div>
        </div>
    </section>
