 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Jacob Armer, i am a 3rd Year Computer Science for Games Development Student. I have always loved computers and video games for as long as i can remember. A link to my CV can be found below! And if you wish to contact me, please use the contact section below!</p>
                </div>
                <div class="col-lg-4">
                    <p>The earliest memory i have is playign Sonic the Hedgehog 2 on the SEGA Megadrive with my mum, i must have been about 2 or 3. And becuase of that as long i as i can remember video games have been a massive passion of mine, i strive to one day make games that will inspire other children to do well in life, just like how the video games i played inspiered me. I genuinly believe that video games are a form of art that can inspire greatnes in the people that play them! And i hope to cultivate that the best i can in my lifetime. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="JacobJamesArmer.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> CV
                    </a>
                </div>
            </div>
        </div>
    </section>
